﻿@{
    ViewData["Title"] = "Home";
}

<h2 class="page-header">EasyTasks Web Portal</h2>

<div class="jumbotron">
    <h1>Welcome! <small> Login to access EasyTasks Web Portal</small></h1>
    <div class="row">
        <div class="col-md-6">
            
            <a asp-action="Login" asp-controller="Account" class="btn btn-primary btn-lg">Login</a>
        </div>
        <div class="col-md-6">
            
            
        </div>
    </div>
</div>
<div>
    <p>
        <h4>Make sure to update the local database first with the following commands</h4>
        <pre>
            Update-Database -Context EasyTasksContext -Project Infra -StartupProject Web
            Update-Database -Context AppIdentityContext -Project Infra -StartupProject Web</pre>
    </p>
</div>