﻿@model Web.ViewModels.TasksViewModel

@{
    ViewData["Title"] = "View Task";
}

<h2>@ViewData["Type"] Details</h2>

<a asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to list</a>
<div>

    <br />

    <div class="panel panel-@(Model.Completed?"success":"default")">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-@(Model.Completed?"check":"unchecked")"></span>&nbsp;&nbsp;
                @Model.Title
            </h3>
        </div>
        <div class="panel-body">
            @Model.Details
        </div>

        <div class="panel-footer">
            <p><b>Created By: </b> @Model.CreatedBy</p>
            <p><b>Assigned To: </b> @Model.AssignedTo</p>
        </div>

    </div>

    <br />
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
</div>
