﻿@model IEnumerable<Web.ViewModels.TasksViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>All Tasks</h2>

<table id="tasks" class="table valign"></table>


@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>*@

    <script>
        var dataSet = {};
        $(document).ready(function () {
            $.get("/Admin/AllTaskJson", function (data) { 
                dataSet = data;
                GenerateTable();
            });
        });

        function GenerateTable() {

            $('#tasks').DataTable({
                data: dataSet,

                dom: 'ift',
                columns: [
                    { data: "Title", title: "Title" },
                    { data: "CreatedBy.UserName", title: "Created By" },
                    { data: "AssignedTo.UserName", title: "Assigned To" },
                    {
                        data: "Completed", title: "Completed",
                        render: function (b) { return "<i class='glyphicon glyphicon-" + (b ? "check" : "unchecked") + "'></i><p class='hidden'>"+b+"</p>" }
                    }
                ]
            });
        }
    </script>
}