﻿@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Core.Entities.AppTask>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th><th>Title</th><th>Completed</th><th>Created By</th><th>Assigned To</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@task.Completed</td>
                <td>@task.CreatedById - @task.CreatedBy.UserName</td>
                <td>@task.AssignedToId - @task.AssignedTo.UserName</td>
            </tr>
        }
    </tbody>
</table>