﻿@model Web.ViewModels.TasksViewModel

@{
    ViewData["Title"] = "Create Task";
}

<h2>Create Task</h2>

<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form asp-action="CreateTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Assign To</label>
                @Html.DropDownListFor(m => m.AssignedToId, ViewData["Others"] as SelectList,
                    new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea asp-for="Details" class="form-control" rows="7"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group clearfix">
                <input type="submit" value="Create" class="btn btn-success btn-lg pull-right" />
            </div>
        </form>
    </div>
</div>

