﻿
@{
    ViewData["Title"] = "Dashboard";
}

<br />

<div style="border:1px solid #ddd; padding: 20px 10px;">
    <h3>Support User Dashboard</h3>
    <div class="clearfix">
        <a asp-action="CreateTask" class="btn btn-primary pull-right ctrl">
            <span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp; New Task
        </a>
        <a asp-action="CreateToDo" class="btn btn-success pull-right ctrl">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp; New ToDo Item
        </a>
    </div>
    
    <br />
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#own" aria-controls="own" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-list-alt"></span>
                &nbsp;
                My ToDo List
                &nbsp;
                <span class="badge pull-right">@ViewData["Own_Count"]</span>
            </a>
        </li>
        <li role="presentation">
            <a href="#assigned" aria-controls="assigned" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-inbox"></span>
                &nbsp;
                Assigned Tasks
                &nbsp;
                <span class="badge pull-right">@ViewData["Assigned_Count"]</span>
            </a>
        </li>
        <li role="presentation">
            <a href="#created" aria-controls="created" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-th-list"></span>
                &nbsp;
                Created Tasks
                &nbsp;
                <span class="badge pull-right">@ViewData["Created_Count"]</span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="own">
            <ul class="tasks list-group">
                @foreach (var task in ViewData["Own"] as IEnumerable<AppTask>)
                {
                    <li class="list-group-item completed-@task.Completed">
                        <span class="glyphicon glyphicon-@(task.Completed?"check":"unchecked")"></span>&nbsp;&nbsp;
                        <a asp-action="ViewTask" asp-route-id="@task.Id">@task.Title</a>
                    </li>
                }
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="assigned">
            <ul class="tasks list-group">
                @foreach (var task in ViewData["Assigned"] as IEnumerable<AppTask>)
                {
                    <li class="list-group-item completed-@task.Completed">
                        <span class="glyphicon glyphicon-@(task.Completed?"check":"unchecked")"></span>&nbsp;&nbsp;
                        <a asp-action="ViewTask" asp-route-id="@task.Id">@task.Title</a>
                    </li>
                }
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="created">
            <ul class="tasks list-group">
                @foreach (var task in ViewData["Created"] as IEnumerable<AppTask>)
                {
                    <li class="list-group-item completed-@task.Completed">
                        <span class="glyphicon glyphicon-@(task.Completed?"check":"unchecked")"></span>&nbsp;&nbsp;
                        <a asp-action="ViewTask" asp-route-id="@task.Id">@task.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $().ready(function () {
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');

            if (activeTab) {
                $('a[href="' + activeTab + '"]').tab('show');
            }
        }
        );
    </script>
}