﻿@model Web.ViewModels.TasksViewModel

@{
    ViewData["Title"] = "View Task";
}

<h2>@ViewData["Type"] Details</h2>

<a asp-action="Index" class="btn btn-default" ><span class="glyphicon glyphicon-arrow-left"></span> Back to dashboard</a>
<div>

    <br />

    <div class="panel panel-@(Model.Completed?"success":"default")">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-@(Model.Completed?"check":"unchecked")"></span>&nbsp;&nbsp;
                @Model.Title
            </h3>
        </div>
        <div class="panel-body">
            @Model.Details
        </div>
        @if (!ViewBag.own)
        {
            <div class="panel-footer">
                @if (!ViewBag.canDelete)
                {
                    <b>Created By: </b> @Model.CreatedBy
                }
                else
                {
                    <b>Assigned To: </b> @Model.AssignedTo
                }
            </div>
        }

    </div>

    <br />
    @if (ViewBag.canMark)
    {
        <a asp-action="MarkAsComplete" asp-route-id="@Model.Id" class="btn btn-success">Mark As Complete</a>
    }
    @if (ViewBag.canDelete)
    {
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    }
</div>
