﻿@using Microsoft.AspNetCore.Identity

<div class="nav navbar-right">
    @if (Context.User.Identity.IsAuthenticated)
    {
        <p class="navbar-text">
            @User.Identity.Name
            <a  class="navbar-link" asp-action="Logout" asp-controller="Account"><small>[Logout]</small></a>
        </p>
        
    }
    else
    {

        <a class="btn btn-default navbar-btn" asp-action="Login" asp-controller="Account">Login</a>
    }
</div>