﻿@{ 
    ViewData["Title"] = "Access Denied";
}

<h3>Access Denied</h3>

<p>
    <b>Note:</b><br />
    Support portal is only accessible to users with <mark>Support</mark> role.
    <br />
    Admin portal is only accessible to users with <mark>Admin</mark> role.
</p>