﻿@{
    ViewData["Title"] = "Login";
}
@using Microsoft.AspNetCore.Identity


<h2 class="page-header">Demo Login</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <br />
            <form class="form-inline" method="post" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <fieldset>
                    <legend>Support Users</legend>
                    <div class="form-group">
                        <select name="userEmail" class="form-control" style="width:32ch;">
                            @foreach (var user in ViewData["Users"] as IEnumerable<ApplicationUser>)
                            {
                                <option value="@user.Email">@user.UserName</option>
                            }
                        </select>
                    </div>
                    <span class="divider"></span>
                    <button type="submit" class="btn btn-primary">Login As Support</button>
                </fieldset>
            </form>
        </div>
        <div class="col-md-6">
            <br />
            <form class="form-inline" method="post" action="Login">
                <fieldset>
                    <legend>Admin Users</legend>
                    <div class="form-group">
                        <select name="userEmail" class="form-control" style="width:32ch;">
                            @foreach (var user in ViewData["Admins"] as IEnumerable<ApplicationUser>)
                            {
                                <option value="@user.Email">@user.UserName</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-danger">Login As Admin</button>
                </fieldset>
            </form>
        </div>
    </div>
    <br />
</div>


